body{
  background-color: rgb(241, 125, 105);
}
*{
  color: red;
}
p{
  text-align: left;
  background-color: white;
}
.p1{
  background-color: yellow;
}
#id-name{
  font-style: italic;
  color: #000;
}

.name{
  color: red;
  text-align: center;
}
h2{
  color: blue;
  text-align: right;
}

ul li{
  color: white;
}

.parent li{
 color: white;
}